<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
{% if photos %}
  <ul>
    {% for photo in photos %}
      <li><img src='data:image/png;base64, {{photo[1]}}'/></li>
      <li>Photo_likes:{{photo[2]}}</li>
      <li><a href="/like/{{photo[0]}}">Like</a></li>
      <li><a href="/picture_comment/{{photo[0]}}">Leave a Comment</a></li>
      <li><a href="/comment_collect/{{photo[0]}}">See all the comments of this photo</a></li>
    {% endfor %}
  </ul>
{% endif %}

<ul>
  <li><a href='/'>Home</a></li>
</ul>
