<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}


    <body>
            <form method="post" enctype="multipart/form-data" action="/poptag">
              {% if tagalbums %}
              <h2>The most popular tag is {{ tagalbums }}</h2>
              {% endif %}
            </form>
            <br>
            <li><a href='/poptagpic'>Click here to view all photos in it</a></li>

    </body>
<ul>
  <li><a href='/'>Home</a></li>
</ul>
