<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
              <p><b>Note:</b> Select the album you want to add this photo in!</p>
              <select name="album_name">
                <option value="selected">Select</option>
                {% if albums %}
                {% for alname in albums %}
                  <option value= {{ alname }} > {{ alname }} </option>
                {% endfor %}
                {% endif %}
              </select><br><br>

                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />

                <p><b>Optional:</b> Select the tag you want to add to this photo</p>
                <select name="tag_name">
                  {% if tags %}
                  {% for tag in tags %}
                  <option value= {{ tag}} > {{tag}}</option>
                  {% endfor %}
                  {% endif %}
                </select>


                <input type="submit" value="upload" />
            </form>
            <br>

    </body>

    <li><a href='/'>Home</a></li>
