<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">

              <select name="album_name">
                <option value="selected">Select</option>
                {% if albums %}
                {% for alname in albums %}
                  <option value= {{ alname }} > {{ alname }} </option>
                {% endfor %}
                {% endif %}
              </select>

              <p><b>Note:</b> Select the album you want to add this photo in!</p>
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <h4>Select the tags that this photo may blongs to:</h2>
                <input type="checkbox" name="tag" value ="human" />human<br />
                <input type="checkbox" name="tag" value ="science" />science<br />
                <input type="checkbox" name="tag" value ="sightseeing" />sightseeing<br />
                <input type="checkbox" name="tag" value ="animal" />animal<br />
                <input type="checkbox" name="tag" value ="universe" />universe<br />
                <input type="checkbox" name="tag" value ="plant" />plant<br />
                <input type="checkbox" name="tag" value ="cartoon" />cartoon<br /><br />
                <input type="submit" value="Upload" />
            </form>
            <br>

    </body>
