<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<head>
    <title>Here are the tags that you can view your photos!</title>
</head>
    <body>
        <div class="title">
            <h1>Select the album according to tag</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/usertagcollect">

              <select name="tagnname">
                <option value="selected">Select</option>
                {% if tags %}
                {% for tag in tags %}
                <option value= {{ tag }} > {{ tag }} </option>
                {% endfor %}
                {% endif %}
              </select>
                <input type="submit" value="Check" />
            </form>
            <br>

    </body>
